In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 44 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 68.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=e812a8ea0c8060d9a2301878ac2ce76cf961888662325cf74c3c160de4ced77c
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [3]:
from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").appName("walmart_data").getOrCreate()

### Create the schema of the streamed files (check the column names and types from the CSV files)

In [4]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType , DateType ,DoubleType

Schema = StructType([StructField('id', IntegerType(), True),
                           StructField('Date', DateType(), True),
                           StructField('Open', DoubleType(), True),
                           StructField('High', DoubleType(), True),
                           StructField('Low', DoubleType(), True),
                           StructField('Close', DoubleType(), True),
                           StructField('Adj Close', DoubleType(), True),
                           StructField('Volume', IntegerType(), True),
                           
                           
                           ])

### Create the dataframe by reading the stream using format "csv" and the schema you created.

In [5]:
df=spark.readStream.csv("/content/sample_data/kospi",Schema)

### Make sure the sataframe is streaming the files from the folder

In [7]:
df.isStreaming

True

### Create a stream writer into memory and specify the query name "stock:

In [8]:
sr=df.writeStream.format('memory').queryName('stock')

### Start the write stream and make sure it works (read all columns from the table)

In [ ]:
sr.start()

In [11]:
spark.sql("SELECT* FROM stock").show()

+----+----------+------------+------------+------------+------------+------------+------+
|  id|      Date|        Open|        High|         Low|       Close|   Adj Close|Volume|
+----+----------+------------+------------+------------+------------+------------+------+
|null|      null|        null|        null|        null|        null|        null|  null|
| 240|2000-12-05|26585.300781|27367.300781|26372.099609|27011.800781|25526.091797| 91019|
| 241|2000-12-06|27011.800781|27509.400391|26798.599609|26869.699219|25391.804688|105791|
| 242|2000-12-07|27011.800781|27011.800781|26478.699219|26656.400391|25190.236328| 40656|
| 243|2000-12-08|26656.400391|27722.699219|26656.400391|27651.599609|26130.699219|149964|
| 244|2000-12-11|27687.099609|     28860.0|27651.599609|28078.099609|26533.740234|159671|
| 245|2000-12-12|28042.599609|28078.099609|27438.300781|27935.900391|26399.361328| 74560|
| 246|2000-12-13|27651.599609|     29286.5|27651.599609|28469.099609|26903.234375|270385|
| 247|2000-12-14|28469.099609|29784.099609|28291.300781|28362.400391| 26802.40625|256317|
| 248|2000-12-15|28362.400391|28895.599609|27793.800781|27935.900391|26399.361328|108886|
| 249|2000-12-18|     27580.5|     28433.5|27367.300781|28291.300781|26735.216797| 92848|
| 250|2000-12-19|27722.699219|28788.900391|27651.599609|27651.599609|26130.699219|115779|
| 251|2000-12-20|27402.800781|27793.800781|     27154.0|27722.699219|26197.890625| 99601|
| 252|2000-12-21|27367.300781|27793.800781|27082.900391|27722.699219|26197.890625|129706|
| 253|2000-12-22|27687.099609|     28007.0|27509.400391|     28007.0|26466.550781| 77233|
| 254|2000-12-26|     27971.5|31987.699219|27473.900391|     28433.5|26869.591797|131535|
| 255|2001-01-02|27367.300781|27367.300781|25945.599609|26656.400391|25190.236328| 64150|
| 256|2001-01-03|26585.300781|26656.400391|26016.699219|26656.400391|25190.236328| 37421|
| 257|2001-01-04|27367.300781|28078.099609|26905.199219|27082.900391|25593.277344|131254|
| 258|2001-01-05|26940.800781|26940.800781|26194.400391|26585.300781|25123.048828| 90316|
+----+----------+------------+------------+------------+------------+------------+------+
only showing top 20 rows

### Remove the first row from the data (hint: drop the rows where ALL values are null), then add a new column "diff", which is the difference between high and low columns

In [21]:
df=df.dropna(how="all")
df=df.withColumn("diff",df.High-df.Low)

### Create a new write stream using the new generated dataframe and call the generate table "modified_data"

In [22]:
sr2=df.writeStream.format('memory').queryName("modified_data")

In [23]:
sr2.start()

In [24]:
spark.sql("SELECT* FROM modified_data ").show()

+---+----------+------------+------------+------------+------------+------------+------+------------------+
| id|      Date|        Open|        High|         Low|       Close|   Adj Close|Volume|              diff|
+---+----------+------------+------------+------------+------------+------------+------+------------------+
|240|2000-12-05|26585.300781|27367.300781|26372.099609|27011.800781|25526.091797| 91019|  995.201172000001|
|241|2000-12-06|27011.800781|27509.400391|26798.599609|26869.699219|25391.804688|105791| 710.8007819999984|
|242|2000-12-07|27011.800781|27011.800781|26478.699219|26656.400391|25190.236328| 40656| 533.1015620000035|
|243|2000-12-08|26656.400391|27722.699219|26656.400391|27651.599609|26130.699219|149964| 1066.298827999999|
|244|2000-12-11|27687.099609|     28860.0|27651.599609|28078.099609|26533.740234|159671|1208.4003909999992|
|245|2000-12-12|28042.599609|28078.099609|27438.300781|27935.900391|26399.361328| 74560|  639.798827999999|
|246|2000-12-13|27651.599609|     29286.5|27651.599609|28469.099609|26903.234375|270385|1634.9003909999992|
|247|2000-12-14|28469.099609|29784.099609|28291.300781|28362.400391| 26802.40625|256317| 1492.798827999999|
|248|2000-12-15|28362.400391|28895.599609|27793.800781|27935.900391|26399.361328|108886| 1101.798827999999|
|249|2000-12-18|     27580.5|     28433.5|27367.300781|28291.300781|26735.216797| 92848|1066.1992189999983|
|250|2000-12-19|27722.699219|28788.900391|27651.599609|27651.599609|26130.699219|115779|1137.3007819999984|
|251|2000-12-20|27402.800781|27793.800781|     27154.0|27722.699219|26197.890625| 99601| 639.8007810000017|
|252|2000-12-21|27367.300781|27793.800781|27082.900391|27722.699219|26197.890625|129706| 710.9003900000025|
|253|2000-12-22|27687.099609|     28007.0|27509.400391|     28007.0|26466.550781| 77233| 497.5996090000008|
|254|2000-12-26|     27971.5|31987.699219|27473.900391|     28433.5|26869.591797|131535| 4513.798827999999|
|255|2001-01-02|27367.300781|27367.300781|25945.599609|26656.400391|25190.236328| 64150| 1421.701172000001|
|256|2001-01-03|26585.300781|26656.400391|26016.699219|26656.400391|25190.236328| 37421|  639.701172000001|
|257|2001-01-04|27367.300781|28078.099609|26905.199219|27082.900391|25593.277344|131254|1172.9003900000025|
|258|2001-01-05|26940.800781|26940.800781|26194.400391|26585.300781|25123.048828| 90316| 746.4003900000025|
|259|2001-01-08|26514.199219|27011.800781|26052.199219|26052.199219|24619.269531|102414| 959.6015620000035|
+---+----------+------------+------------+------------+------------+------------+------+------------------+
only showing top 20 rows

### Write the generated data into files instead of the memory.

In [29]:
sr3=df.writeStream.format('csv').outputMode('append').option("path", "OutStream/").option("checkpointLocation", "new_file") 
sr3.start()

### Stop the query. Now, try reading the generated parquet files into a normal dataframe
- Create a schema and use it to read the data.
- Show the output.

In [35]:
finalDF=spark.read.csv('/content/OutStream/',schema=Schema,header=True)
finalDF.show()

+---+----------+------------+------------+------------+------------+------------+------+
| id|      Date|        Open|        High|         Low|       Close|   Adj Close|Volume|
+---+----------+------------+------------+------------+------------+------------+------+
|241|2000-12-06|27011.800781|27509.400391|26798.599609|26869.699219|25391.804688|105791|
|242|2000-12-07|27011.800781|27011.800781|26478.699219|26656.400391|25190.236328| 40656|
|243|2000-12-08|26656.400391|27722.699219|26656.400391|27651.599609|26130.699219|149964|
|244|2000-12-11|27687.099609|     28860.0|27651.599609|28078.099609|26533.740234|159671|
|245|2000-12-12|28042.599609|28078.099609|27438.300781|27935.900391|26399.361328| 74560|
|246|2000-12-13|27651.599609|     29286.5|27651.599609|28469.099609|26903.234375|270385|
|247|2000-12-14|28469.099609|29784.099609|28291.300781|28362.400391| 26802.40625|256317|
|248|2000-12-15|28362.400391|28895.599609|27793.800781|27935.900391|26399.361328|108886|
|249|2000-12-18|     27580.5|     28433.5|27367.300781|28291.300781|26735.216797| 92848|
|250|2000-12-19|27722.699219|28788.900391|27651.599609|27651.599609|26130.699219|115779|
|251|2000-12-20|27402.800781|27793.800781|     27154.0|27722.699219|26197.890625| 99601|
|252|2000-12-21|27367.300781|27793.800781|27082.900391|27722.699219|26197.890625|129706|
|253|2000-12-22|27687.099609|     28007.0|27509.400391|     28007.0|26466.550781| 77233|
|254|2000-12-26|     27971.5|31987.699219|27473.900391|     28433.5|26869.591797|131535|
|255|2001-01-02|27367.300781|27367.300781|25945.599609|26656.400391|25190.236328| 64150|
|256|2001-01-03|26585.300781|26656.400391|26016.699219|26656.400391|25190.236328| 37421|
|257|2001-01-04|27367.300781|28078.099609|26905.199219|27082.900391|25593.277344|131254|
|258|2001-01-05|26940.800781|26940.800781|26194.400391|26585.300781|25123.048828| 90316|
|259|2001-01-08|26514.199219|27011.800781|26052.199219|26052.199219|24619.269531|102414|
|260|2001-01-09|26087.699219|26549.800781|     25874.5|26372.099609|24921.574219| 81453|
+---+----------+------------+------------+------------+------------+------------+------+
only showing top 20 rows

### Sort the dataframe based on the ID

In [36]:
finalDFSorted = finalDF.sort('ID')
finalDFSorted.show()

+---+----------+------------+------------+------------+------------+------------+------+
| id|      Date|        Open|        High|         Low|       Close|   Adj Close|Volume|
+---+----------+------------+------------+------------+------------+------------+------+
|  0|2000-01-04|22817.900391|25696.800781|22817.900391|24879.300781|23510.880859|108745|
|  1|2000-01-05|24523.900391|26229.900391|23670.900391|24417.300781|23074.294922|175990|
|  2|2000-01-06|24381.699219|24666.099609|22746.800781|22817.900391|21562.865234| 71746|
|  3|2000-01-07|     22036.0|24879.300781|     22036.0|23884.199219|22570.513672|120984|
|  4|2000-01-10|24879.300781|25519.099609|23813.099609|24061.900391|22738.439453|151371|
|  5|2000-01-11|     24168.5|     25021.5|23955.199219|24239.599609|22906.365234| 95943|
|  6|2000-01-12|     24168.5|24452.800781|23457.599609|23670.900391|22368.947266| 61899|
|  7|2000-01-13|23670.900391|24132.900391|23102.199219|23244.400391| 21965.90625| 57538|
|  8|2000-01-14|23457.599609|     24168.5|22746.800781|23244.400391| 21965.90625| 84267|
|  9|2000-01-17|22533.599609|23457.599609|22533.599609|23457.599609|22167.376953| 67807|
| 10|2000-01-18|23457.599609|     23742.0|22746.800781|23422.099609|22133.832031| 27995|
| 11|2000-01-19|22817.900391|23173.300781|     22036.0|     22036.0|20823.970703| 44173|
| 12|2000-01-20|21325.099609|22000.400391|     20756.5|21680.599609|20488.117188| 47550|
| 13|2000-01-21|21680.599609|22391.400391|20863.099609|21680.599609|20488.117188| 80750|
| 14|2000-01-24|20969.699219|21822.699219|20969.699219|20969.699219|19816.320313| 79906|
| 15|2000-01-25|20258.900391|20934.199219|     19548.0|20116.699219|19010.236328|170925|
| 16|2000-01-26|20223.300781|20543.199219|19761.300781|     20330.0|19211.804688| 59929|
| 17|2000-01-27|     20401.0|22746.800781|     20330.0|21040.800781|19883.511719|139132|
| 18|2000-01-28|21431.800781|22107.099609|21040.800781|21964.900391|20756.783203| 78640|
| 19|2000-01-31|21325.099609|21893.800781|     21183.0|21467.300781|20286.552734| 45861|
+---+----------+------------+------------+------------+------------+------------+------+
only showing top 20 rows